MovieDatabaseProject/MovieDatabaseProject/bin/Debug/net6.0-windows/MovieDatabaseProject.exe.WebView2/
MovieDatabaseProject/MovieDatabaseProject/bin/Release/net6.0-windows/MovieDatabaseProject.exe.WebView2/
